.top2{
	margin-top: 15px;
	width: 1280px;
	height: 430px;
	padding: 0 25px;
	position: relative;
	box-sizing: border-box;
}
.top2>.top21{
	width: 360px;
	height: 360px;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	margin: 0 25px;
}
.top2>.top21>.text1{
	width:360px;
	height:80px;
	background-color: white;
	text-align: center;
	position: absolute;
	bottom: -8%;
	float: left;
	font-size: 14pxs;
	color: #303030;
}
.top2>.top21>.text1>h2>a:hover{
	color: forestgreen;
}
.top2>.top21>.pic1>img{
	width: 360px;
	height: 360px;
	float: left;
}

.top2>.top22{
	width: 360px;
	height: 360px;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	margin: 0 25px;	
}
.top2>.top22>.text2{
	width:360px;
	height:80px;
	background-color: white;
	text-align: center;
	position: absolute;
	bottom: -8%;
	float: left;
	font-size: 14pxs;
	color: #303030;
}
.top2>.top22>.text2>h2>a:hover{
	color: #51b4b4;
}
.top2>.top22>.pic2>img{
	width: 360px;
	height: 360px;
	float: left;
}
.top2>.top23{
	width: 360px;
	height: 360px;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	float: left;
		margin: 0 25px;	
}
.top2>.top23>.pic3>img{
	width: 360px;
	height: 360px;
	float: left;
}
.top2>.top23>.text3{
	width:360px;
	height:80px;
	background-color: white;
	text-align: center;
	position: absolute;
	bottom: -8%;
	float: left;
	font-size: 14pxs;
	color: #303030;
}
.top2>.top23>.text3>h2>a:hover{
	color: #b4ac38;
}