.top3{
	margin-top: 20px;
	padding:0 20px;
	height: 780px;
	width: 1280px;
	box-sizing: border-box;
	float: right;
}
.top3>.jh{
	position: absolute;
}
.top3>.jh>img{
	height: 75px;
	width: 75px;
	margin-left: -16px;
}
.top3>.jh>.l1{
	font-size: 20px;
	color: white;
	line-height: 60px;
	float: left;
	position: absolute;
}
.top3>.pic1>img{
	width: 295px;
	height: 250px;
	float: left;
	margin-right: 20px;
}
.top3>.pic1{
	width: 295px;
	height: 370px;
	float: left;
	margin-right: 20px;
}
.top3>.pic1>.content1{
	width: 100%;
	height: 90px;
	float: left;
}
.top3>.pic1>.content1>.word1{
	color: black;
	line-height: 25px;
	margin: 0px 23px;
}
.top3>.pic1>.content1>.word1>b>a{
	font-size: 13px;
}
.top3>.pic1>.content1>.word1>b>a:hover{
	color: #3fab3f;
	text-decoration: underline;
	font-size: 14px;
}

.top3>.pic2>.content2{
	width: 100%;
	height: 90px;
	float: left;
	margin-right: 20px;
}
.top3>.pic2>img{
	width: 295px;
	height: 250px;
	float: left;
	margin-right: 20px;
}
.top3>.pic2{
	width: 295px;
	height: 370px;
	float: left;
	margin-right: 20px;
}
.top3>.pic2>.content2>.word2{
	color: black;
	line-height: 25px;
	margin: 0px 23px;
}
.top3>.pic2>.content2>.word2>b>a{
	font-size: 13px;
}
.top3>.pic2>.content2>.word2>b>a:hover{
	color: #3fab3f;
	text-decoration: underline;
	font-size: 14px;
}
.top3>.pic3>.content3>.word3{
	color: black;
	line-height: 25px;
	margin: 0px 49px;
}
.top3>.pic3>.content3{
	width: 100%;
	height: 90px;
	float: left;
	margin-right: 20px;
}
.top3>.pic3>img{
	width: 295px;
	height: 250px;
	float:left;
	margin-right: 20px;
}
.top3>.pic3{
	width: 295px;
	height: 370px;
	float: left;
	margin-right: 20px;
}

.top3>.pic3>.content3>.word3>b>a{
	font-size: 13px;
}
.top3>.pic3>.content3>.word3>b>a:hover{
	color: #3fab3f;
	text-decoration: underline;
	font-size: 14px;
}
.top3>.pic4>img{
	width: 295px;
	height: 250px;
	float: left;
}
.top3>.pic4>.content4{
	width: 100%;
	height: 90px;
	float: left;
}
.top3>.pic4{
	width: 295px;
	height: 370px;
	float: left;
	margin-bottom: 15px;
}

.top3>.pic4>.content4>.word4>b>a{
	font-size: 13px;
}
.top3>.pic4>.content4>.word4>b>a:hover{
	color: #3fab3f;
	text-decoration: underline;
	font-size: 14px;
}
.top3>.pic4>.content4>.word4{
	color: black;
	line-height: 25px;
	margin: 0px 25px;
}
.top3>.pic5>img{
	width: 295px;
	height: 250px;
	float: left;
	margin-right: 20px;
	margin-top: 15px;
}
.top3>.pic5{
	width: 295px;
	height: 370px;
	float: left;
	margin-right: 20px;
}
.top3>.pic5>.content5{
	width: 100%;
	height: 90px;
	float: left;
	margin-right: 20px;
}
.top3>.pic5>.content5>.word5{
	color: black;
	line-height: 25px;
	margin: 0px 25px;
}
.top3>.pic5>.content5>.word5>b>a{
	font-size: 13px;
}
.top3>.pic5>.content5>.word5>b>a:hover{
	color: #3fab3f;
	text-decoration: underline;
	font-size: 14px;
}
.top3>.pic6>img{
	width: 295px;
	height: 250px;
	float: left;
	margin-right: 20px;
	margin-top: 15px;
}
.top3>.pic6{
	width: 295px;
	height: 370px;
	margin-right: 20px;
	float: left;
}
.top3>.pic6>.content6{
	width: 100%;
	height: 90px;
	float: left;
	margin-right: 20px;
}
.top3>.pic6>.content6>.word6{
	color: black;
	line-height: 25px;
	margin: 0px 25px;
}
.top3>.pic6>.content6>.word6>b>a{
	font-size: 13px;
}
.top3>.pic6>.content6>.word6>b>a:hover{
	color: #3fab3f;
	text-decoration: underline;
	font-size: 14px;
}
.top3>.pic7>img{
	width: 295px;
	height: 250px;
	float: left;
	margin-right: 20px;
	margin-top: 15px;
}
.top3>.pic7{
	width: 295px;
	height: 370px;
	margin-right: 20px;
	float: left;
}
.top3>.pic7>.content7{
	width: 100%;
	height: 90px;
	float: left;
	margin-right: 20px;
}
.top3>.pic7>.content7>.word7{
	color: black;
	line-height: 25px;
	margin: 0px 25px;
}
.top3>.pic7>.content7>.word7>b>a{
	font-size: 13px;
}
.top3>.pic7>.content7>.word7>b>a:hover{
	color: #3fab3f;
	text-decoration: underline;
	font-size: 14px;
}
.top3>.pic8>img{
	width: 295px;
	height: 250px;
	float: left;
	margin-top: 15px;
}
.top3>.pic8{
	width: 295px;
	height: 370px;
	float: left;
}
.top3>.pic8>.content8{
	width: 100%;
	height: 90px;
	float: left;
	margin-right: 20px;
}
.top3>.pic8>.content8>.word8{
	color: black;
	line-height: 25px;
	margin: 0px 36px;
}
.top3>.pic8>.content8>.word8>b>a{
	font-size: 13px;
}
.top3>.pic8>.content8>.word8>b>a:hover{
	color: #3fab3f;
	text-decoration: underline;
	font-size: 14px;
}